
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }

  ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1, 
  h2,
  h3,
  h4,
  h5,
  h6, 
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* header */
  .page-header {
    border-bottom: 1px solid #e7e9fc;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 21px; 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .header-logo .logo-part {
    color: #2e2f42;
  }

    .footer-logo .logo-part {
            color: #f4f4fd;
    }

  .nav-link {
      display: block;
      padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
  }

  .header-address {
    font-style: normal;
    margin-left: auto;
  }

  .address-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
  }
  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  /* business  */

  .business-section {
    margin: 0 auto;
    padding-top: 188px; 
    padding-bottom: 120px;
    background-color:#2e2f42
  }

  .business-title {
       margin: 0 auto;
       padding-bottom: 48px;
        max-width: 496px;
        height: 120px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
  }

  .business-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 188px; 
    margin-top: 48px;
    padding: 16px 32px;
        background-color: #4d5ae5;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        color: #ffffff;
  }

  .business-button:hover,
  .business-button:focus {
    background-color: #404bbf;
  }

  /* work */

  .work-section {
    padding: 120px 0;
  }

  .work-list {
    display: flex;
    align-items: center;
    gap: 24px;

  }

  .work-item {
    width: calc((100% - 72px)/4);
  }


  .work-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
  }

  .work-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
  }

  /* team */

  .team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
  }

  .title-team {
      padding-bottom: 72px;
       margin: 0 auto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
  }

  .team-div {
    padding: 32px 16px;
  }

  .team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
  }

  .team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
  }

  .team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
  }

  .team-text {
    padding: 8px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
  }

  /* portfolio */

  .portfolio-section {
    padding: 120px 0;
  }

  .title-portfolio {
    padding-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px 24px;
  }

  .portfolio-div {
    padding: 32px 0 64px 16px;
  }

  .portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .portfolio-text {
    padding: 8px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
  }

  /* footer */

  .page-footer {
    background-color: #2e2f42;
    padding: 120px 0 0 0;
  }

  .footer-div {
    padding: 100px 0;
  }

  .footer-text {
    padding-bottom: 100px;
    padding-top: 16px;
    max-width: 264px;
    min-height: 72px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
  }




  

  